@font-face {
    font-family: 'Bungee';
    src: url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
    font-weight: normal;
    font-style: normal;
}

/* Cores atualizadas */
/* #CAF6FF azul */
/* #68DA6A verde */
/* #2B6DDD fonte */
/* #FFFFFF fonte */

body {
    font-family: 'Bungee', sans-serif;
    background-color: #CAF6FF; /* Fundo azul */
    color: #2B6DDD; /* Texto azul escuro */
    text-align: center;
}

header {
    background-color: #68DA6A; /* Cabeçalho verde */
    color: #FFFFFF; /* Texto branco no cabeçalho */
    padding: 20px 0;
    font-weight: 600;
    border-bottom: 4px solid #FFFFFF;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #68DA6A;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #2B6DDD; /* Cor azul para os links */
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 3px;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2B6DDD;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before, nav ul li a:focus::before {
    transform: scaleX(1);
}

#em-construcao {
    background: #68DA6A; /* Fundo verde */
    padding: 50px 0;
    text-align: center;
}

.construcao-container {
    display: inline-block;
    padding: 20px;
    border: 3px dashed #FFFFFF;
    margin: 0 auto;
    position: relative;
}

.construcao-container h2 {
    color: #2B6DDD;
    font-size: 24px;
}

.construcao-container p {
    color: #FFFFFF;
    font-size: 18px;
}

.home-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}



#edicoes-anteriores .carousel-inner .carousel-item img {
    width: 100%;
    height: auto;
}

#homeCarousel .carousel-item {
    height: 500px;
}

#homeCarousel img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 50px;
}

.content-text {
    flex: 1;
    padding-right: 20px;
    border-right: 2px dashed #FFFFFF;
}

.content-image {
    width: 50%;
    height: auto;
    position: relative;
}

.content-image::before {
    content: '';
    position: absolute;
    top: 0;
    right: -5px;
    bottom: 0;
    width: 3px;
    background-color: #FFFFFF;
}

.content-image img {
    width: 100%;
    height: auto;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 10px;
}

.links {
    text-decoration: none;
    color: #2B6DDD;
}

.links:hover {
    color: #68DA6A;
}

#logo_ccpop {
    width: 50%;
}

#contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #68DA6A;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2B6DDD;
}

.contact-list {
    list-style-type: none;
    padding: 0;
}

.contact-list li {
    margin-bottom: 15px;
}

.contact-list a {
    color: #333;
    text-decoration: none;
}

.contact-list a:hover {
    color: #007bff;
}

.links span {
    margin-left: 10px;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .content-row {
        flex-direction: column;
    }

    .content-text, .content-image {
        width: 100%;
    }

    .content-image {
        margin-bottom: 20px; /* Adiciona um espaçamento entre a imagem e o texto */
    }
}